# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [81]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [82]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [83]:
# Your code here:
data.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [84]:
# Your code here:
display(data.isnull().sum())
display(data.isnull().sum()/len(data))

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [85]:
# Your code here:
data['Salary or Hourly'].value_counts(dropna = False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [86]:
# Your code here:
pd.pivot_table(data, values = 'Name', index = 'Department', aggfunc = 'count').reset_index()

             Department   Name
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [87]:
# turn hourly rate into an array and deleting the NaNs
hourlyrate = data['Hourly Rate'].to_numpy()
hourlyrate = hourlyrate[~np.isnan(hourlyrate)]

In [114]:
# calculating the confidence interval
import scipy.stats

# stat, pval = ttest_1samp(hourlyrate, 30)
# print(stat)
# print(pval)
# print(pval/2)

confidence_level = 0.95
degrees_freedom = len(hourlyrate) - 1  
sample_mean = np.mean(hourlyrate)
sample_standard_error = scipy.stats.sem(hourlyrate) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

(34.29839539204317, 34.874504045196865)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [91]:
# pd.pivot_table(data, values = 'Annual Salary', index = 'Department', aggfunc = np.mean)
# selecting rows where department is police, 
# turning the corresponding values in the annual salary column into an array
police_salary = data.loc[data['Department'] == 'POLICE']
police_salary = data['Annual Salary'].to_numpy()
police_salary = police_salary[~np.isnan(police_salary)]
police_salary

array([ 72510.,  93354., 132972., ...,  90024.,  93354., 126732.])

In [95]:
# Your code here:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(police_salary, 86000)

print(stat)
print(pval)
print(pval/2)
# incredibly low value, effectively 0. stats is positive, 
# so both support claim of police chief, p- value does so very strongly,

23.149576589194083
2.3765140851726716e-117
1.1882570425863358e-117

In [110]:
confidence_level = 0.95
degrees_freedom = len(police_salary) - 1 
sample_mean = np.mean(police_salary)

sample_standard_error = scipy.stats.sem(hourlyrate)

confidence_interval2 = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval2)

(89061.50697467542, 89062.08302532455)

Using the `crosstab` function, find the department that has the most hourly workers.

In [106]:
# Your code here:
data_crosstab = pd.crosstab(data['Department'], data['Hourly Rate'], margins=True)
data_crosstab
# Department STREETS & SAN has the most Hourly Paid Workers (1846)

Hourly Rate,2.65,8.25,9.74,10.0,10.5,12.0,13.0,13.4,13.45,13.94,...,53.4,53.91,54.05,54.1,55.1,57.04,58.4,61.65,128.0,All
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
AVIATION,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,12,0,0,0,1214
BUDGET & MGMT,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BUSINESS AFFAIRS,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,7
CITY COUNCIL,0,4,0,2,1,5,5,0,1,0,...,0,0,0,0,0,0,0,0,0,74
CULTURAL AFFAIRS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
DAIS,0,0,0,0,0,0,0,0,0,0,...,0,0,1,24,4,10,0,0,0,745
DISABILITIES,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
FAMILY & SUPPORT,260,0,0,0,0,0,41,0,0,0,...,0,0,0,0,0,0,0,0,0,357
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
HOUSING & ECON DEV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,48
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
OEMC,0,0,0,0,0,0,0,0,0,49,...,0,0,0,0,0,0,0,0,0,1077
POLICE,0,0,2,0,0,11,11,0,0,0,...,0,0,0,0,0,0,0,0,0,24
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
PUBLIC LIBRARY,0,0,0,0,0,0,0,107,0,0,...,0,0,0,0,0,0,0,0,0,356
PUBLIC SAFETY ADMIN,0,0,0,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,0,48
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1846
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,39,0,1,0,1,0,10,0,0,726
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,0,1,28,0,4,46,0,0,0,1558
All,260,4,2,2,1,16,62,107,1,49,...,48,1,30,24,12,68,10,1,1,8174

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [107]:
# Your code here:
streets_san_salary = data.loc[data['Department'] == 'STREETS & SAN']
streets_san_salary = data['Hourly Rate'].to_numpy()
streets_san_salary = streets_san_salary[~np.isnan(streets_san_salary)]
streets_san_salary

array([13.  , 37.45, 40.78, ..., 51.43, 49.35, 37.45])

In [108]:
stat, pval = ttest_1samp(streets_san_salary, 35)

print(stat)
print(pval)
print(pval/2)
# p-value is lower than 0.05, so we reject the hypothisis, that their hourly rate is 35 
# stats is negative, so it is lower than 35, just as they claim

-2.8142736834194233
0.004900444344659862
0.002450222172329931

In [111]:
confidence_level = 0.95
degrees_freedom = len(streets_san_salary) - 1 
sample_mean = np.mean(streets_san_salary)

sample_standard_error = scipy.stats.sem(streets_san_salary)

confidence_interval3 = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval3)
# their mean hourly rate is somewhere between the values in the confidence interval (with 95 percent certainty)

(34.29839539204317, 34.874504045196865)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [116]:
# Your code here:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourlyrate) - 1  
sample_mean = np.mean(hourlyrate)
sample_standard_error = scipy.stats.sem(hourlyrate) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)
# mean hourly rate is, with a 95% certainty, between 34.29839539204317 and 34.874504045196865

(34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [117]:
# Your code here:
confidence_level = 0.95
degrees_freedom = len(police_salary) - 1  
sample_mean = np.mean(police_salary)
sample_standard_error = scipy.stats.sem(police_salary) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

(88802.55516222387, 89321.0348377761)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: